body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.half-width {
    width: 50%;
    /* padding-left: 200px; */

}

.padding-15 {
    padding-left: 15%;
    padding-top: 5%;
}


.flexible-container {
    display: flex;
    margin-bottom: 40px;
}

.top-bg-img {
    background-image: url(im/cloudBg.png);
    /* // background-size: cover; */
    background-size: 100% 100%;
}

.dev-img {
    width: 100%;
    padding-right: 15%;
    padding-top: 5%;

}

.dev-text {
    color: grey;
    text-align: justify;
    width: 90%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;

}


.h1-text {
    font-size: 70px;
    margin: 5px;
}

.blue-color {
    color: blueviolet;
}

.padding-20 {
    padding-right: 20px;
}

.margin-20 {
    margin-left: 30px;
    margin-bottom: 5px
}

.resume-button {

    background: linear-gradient(rgb(235, 227, 119), rgb(184, 8, 238));
    padding: 20px 100px;
    border-radius: 10px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 26px;

    margin-top: 10px;
    cursor: pointer;

}

.about-me {
    text-align: center;
    font-size: 50px;
}

.about-detils {

    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    font-size: 20px;

}

.font-size {
    font-size: 30px;
}

.p-langs {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin-top: 2rem;


}

.p-langs-detils {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: gray;
    border-radius: 0.5rem;
    align-items: center;
    width: 10rem;
    display: flex;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}